In [2]:
import pandas as pd

In [9]:
extra_user_view = pd.read_csv('dataset/extra_user_view.txt', names=['user_id', 'shop_id', 'time_stamp'])

    user_id  shop_id           time_stamp
0  23292646     1197  2016-02-25 18:00:00
1   6695980     1197  2016-05-21 11:00:00
2  24051319     1197  2016-02-29 09:00:00
3  23446348     1197  2016-06-05 18:00:00
4  22974173     1197  2016-04-08 12:00:00

In [15]:
extra_user_view

          user_id  shop_id           time_stamp
0        23292646     1197  2016-02-25 18:00:00
1         6695980     1197  2016-05-21 11:00:00
2        24051319     1197  2016-02-29 09:00:00
3        23446348     1197  2016-06-05 18:00:00
4        22974173     1197  2016-04-08 12:00:00
5        23044571     1197  2016-05-13 10:00:00
6        13901224     1197  2016-05-09 17:00:00
7         3694076     1197  2016-04-13 11:00:00
8        22974837     1197  2016-05-08 15:00:00
9        22807758     1197  2016-04-23 08:00:00
10       22676922     1197  2016-02-27 10:00:00
11       22974837     1197  2016-05-08 15:00:00
12       23894549     1197  2016-04-20 10:00:00
13       11921551     1197  2016-05-19 10:00:00
14       22807758     1197  2016-04-23 08:00:00
15       24135309     1197  2016-02-15 21:00:00
16       23669286     1197  2016-02-01 08:00:00
17       14499907     1197  2016-06-16 12:00:00
18       10186634     1197  2016-02-04 21:00:00
19       20334147     1197  2016-02-08 19:00:00
20       24135309     1197  2016-02-15 21:00:00
21       24152797     1197  2016-06-13 14:00:00
22        3955193     1197  2016-05-16 07:00:00
23       24135309     1197  2016-02-15 21:00:00
24       24135309     1197  2016-02-15 21:00:00
25       15155904     1197  2016-06-14 08:00:00
26       24162623     1197  2016-02-20 08:00:00
27       11564484     1197  2016-03-22 17:00:00
28       23406607     1197  2016-02-13 10:00:00
29        8294634     1197  2016-02-14 21:00:00
...           ...      ...                  ...
4549899  14280749     1448  2016-06-14 10:00:00
4549900  19927985     1448  2016-06-15 01:00:00
4549901  22891747     1448  2016-06-15 20:00:00
4549902  12646245      991  2016-06-21 13:00:00
4549903  22867400      991  2016-06-20 21:00:00
4549904  23088458      991  2016-06-20 22:00:00
4549905  23467630      991  2016-06-20 10:00:00
4549906  21580985      991  2016-06-20 21:00:00
4549907  23345158      991  2016-06-20 11:00:00
4549908  23345158      991  2016-06-20 11:00:00
4549909   1962518      991  2016-06-21 17:00:00
4549910  23759850      991  2016-06-20 22:00:00
4549911   1962518      991  2016-06-21 17:00:00
4549912  22683884      991  2016-06-21 12:00:00
4549913  24144715      991  2016-06-20 21:00:00
4549914  22757148      991  2016-06-20 22:00:00
4549915  24087375      991  2016-06-20 23:00:00
4549916  24087375      991  2016-06-20 23:00:00
4549917  24078275      991  2016-06-20 13:00:00
4549918  23368330      991  2016-06-20 14:00:00
4549919  23258603      991  2016-06-20 19:00:00
4549920  23508375      991  2016-06-20 23:00:00
4549921  22901567      991  2016-06-20 15:00:00
4549922  12646245      991  2016-06-21 13:00:00
4549923  10687908      825  2016-06-20 18:00:00
4549924  10687908      825  2016-06-20 18:00:00
4549925  10687908      825  2016-06-20 18:00:00
4549926  18921036      825  2016-06-21 21:00:00
4549927  23176585      825  2016-06-20 21:00:00
4549928   5648417      825  2016-06-20 20:00:00

[4549929 rows x 3 columns]

In [13]:
type(extra_user_view['time_stamp'].values[0])

str

In [20]:
pd.read_csv('dataset/shop_info.txt', index_col=0, 
            names=['city_name', 'location_id', 'per_pay', 'score', 'comment_cnt', 'shop_level', 'cate_1_name', 'cate_2_name', 'cate_3_name'])

,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果
6,大连,1139,13,3.0,1.0,0,美食,烘焙糕点,面包
7,绍兴,145,13,3.0,9.0,2,美食,快餐,西式快餐
8,杭州,234,16,3.0,1.0,0,美食,休闲食品,生鲜水果
9,杭州,1120,15,4.0,0.0,1,超市便利店,超市,NaN
10,孝感,98,10,NaN,NaN,0,超市便利店,超市,NaN
11,上海,134,12,3.0,1.0,0,美食,小吃,其它小吃
12,宁波,786,20,1.0,2.0,0,美食,中餐,东北菜
13,杭州,286,6,0.0,2.0,0,美食,快餐,中式快餐
14,深圳,862,7,1.0,4.0,2,美食,快餐,中式快餐
15,西安,101,19,NaN,NaN,0,超市便利店,超市,NaN
16,武汉,510,17,3.0,3.0,2,美食,小吃,其它小吃
17,厦门,707,15,2.0,7.0,2,美食,快餐,西式快餐
18,福州,260,7,4.0,1.0,0,美食,火锅,麻辣烫/串串香
19,上海,701,11,3.0,5.0,2,美食,休闲茶饮,饮品/甜点
20,广州,251,5,2.0,3.0,0,美食,汤/粥/煲/砂锅/炖菜,粥
21,上海,860,9,3.0,1.0,0,美食,烘焙糕点,蛋糕
22,重庆,777,6,2.0,3.0,2,美食,烘焙糕点,面包
23,青岛,645,3,3.0,0.0,1,超市便利店,便利店,NaN
24,温州,1058,12,2.0,2.0,1,美食,其他美食,西餐
25,昆明,354,14,3.0,9.0,2,美食,快餐,西式快餐
26,厦门,620,12,1.0,3.0,1,美食,快餐,中式快餐
27,济南,109,2,3.0,2.0,1,美食,快餐,中式快餐
28,泉州,975,14,2.0,4.0,2,美食,快餐,西式快餐
29,广州,552,6,1.0,2.0,0,美食,小吃,米粉/米线
30,中山,498,7,2.0,2.0,2,美食,快餐,西式快餐
...,...,...,...,...,...,...,...,...,...
1971,上海,642,6,4.0,4.0,0,美食,休闲茶饮,奶茶
1972,广州,842,14,2.0,5.0,2,美食,快餐,西式快餐
1973,武汉,285,8,4.0,0.0,1,超市便利店,超市,NaN
1974,上海,1127,6,4.0,3.0,0,美食,休闲茶饮,奶茶
1975,绍兴,418,9,3.0,6.0,0,美食,烘焙糕点,蛋糕
1976,湖州,819,7,2.0,3.0,0,美食,小吃,其它小吃
1977,南昌,774,6,3.0,3.0,0,美食,快餐,中式快餐
1978,南京,680,8,3.0,2.0,0,美食,烘焙糕点,面包
1979,天津,462,15,4.0,3.0,0,美食,快餐,其它快餐
1980,自贡,1121,17,4.0,0.0,1,超市便利店,超市,NaN
1981,南昌,774,2,2.0,0.0,0,美食,休闲食品,生鲜水果
1982,潍坊,661,3,2.0,1.0,0,美食,快餐,中式快餐
1983,济南,318,1,4.0,0.0,0,美食,烘焙糕点,其它烘焙糕点
1984,杭州,1059,7,2.0,1.0,0,美食,快餐,中式快餐
1985,上海,1036,15,2.0,17.0,2,美食,快餐,西式快餐
1986,广州,60,13,2.0,8.0,2,美食,快餐,西式快餐
1987,杭州,850,5,4.0,3.0,0,美食,休闲茶饮,奶茶
1988,佛山,559,18,NaN,NaN,1,超市便利店,超市,NaN
1989,绍兴,870,15,3.0,2.0,2,美食,快餐,西式快餐
1990,郑州,550,12,3.0,9.0,2,美食,快餐,西式快餐
1991,上海,1127,5,4.0,0.0,1,超市便利店,便利店,NaN
1992,安康,118,19,NaN,NaN,1,超市便利店,超市,NaN
1993,南昌,179,4,3.0,0.0,0,美食,休闲茶饮,奶茶
1994,上海,478,13,3.0,3.0,2,美食,烘焙糕点,面包
1995,苏州,780,16,NaN,NaN,0,超市便利店,超市,NaN
1996,南宁,248,6,3.0,1.0,0,美食,快餐,中式快餐
1997,上海,924,10,1.0,2.0,0,美食,快餐,中式快餐
1998,南通,1090,1,2.0,2.0,0,美食,小吃,面点
1999,成都,1134,19,NaN,NaN,1,超市便利店,超市,NaN
2000,杭州,378,7,3.0,2.0,0,美食,小吃,面点